{% extends "home.html" %}
{% load static %}



{% block content %}
    <div id="screen" class="screen ">
      <div class="heading">
        <h1>Profile</h1>
      </div>
      <div id="mainc">
        <div class="pbox certificate">
          <div class="headingcert">
            Certificates
          </div>
          {%for i in gde.certificates_set.all%}
          <p>{{i.fd}}
          </p>
          <embed src="{{i.certificate.url}}" width="100%" height="200px" />
          {%endfor%}
          
        </div>
        <div class="pbox general">

          <div class="main-content">
            <div class="pimage" id="profile_image" onclick="">
              <img src="{{ gde.usrinfo.image.url }}" alt=""></div>
      
            
            <div class="text-info">
              <h2>{{gde}}'s profile</h2>
              <div class="contact">

                <div class="table"><label for=""><strong>Email:-</strong></label><br>
                  <p>{{ gde.email }}</p>
                </div>
                <div class="table"><label for=""><strong>Phone no:-</strong></label><br>
                  <p>+91 {{ gde.usrinfo.mobile }}</p>
                </div>
                <div class="table"><label for=""><strong>DOB:-</strong></label><br>
                  <p>{{ gde.usrinfo.birthday|date:"d,F,Y" }}
                </div>

                <hr>

                
                <div class="qc">
            <div class="q">
                <h4>Question:-</h4>
                <p>{{ques}}</p>
            </div>
            <div class="cnct">
                <button type="button" value="Chat" class="btn btnch">Chat</button>
                
            </div>
            </div>
        </div>

            </div>


          </div>
        </div>


        <div class="pbox rating">
          <p>Review & Rating</p>
        </div>

    </div>
    </div>




    {%endblock content%}

