{% extends "home.html" %}
{% block content %}
<div class="heading">
  <h1>Guidee</h1>
</div>
<ul>
  {% for i in user.calc.fdsneeded.all %}
  <li>{{i}}</li>
  {% endfor %}
</ul>

<div>
  <form method="post">
    {% csrf_token %}

    {%for i in fields.all%}
    {% if i not in user.calc.fdsneeded.all  %}
    <label for="">{{i}}</label>
    <input type="checkbox" value='{{i}}' name='fdsneeded'  class="option"><br>

    {% endif %}
    {%endfor%}

    </select>
    <input type='submit' name='submitn' value='Submit'>
  </form>
</div>

<div class="heading">
  <h1>Guide</h1>
</div>
<ul>
  {% for i in user.calc.fdsexpert.all %}
  <li>{{i}}</li>
  {% endfor %}
</ul>


<div>
  <form method="post">
    {% csrf_token %}

    {%for i in fields.all%}
    {% if i not in user.calc.fdsexpert.all  %}
    <label for="">{{i}}</label>
    <input type="checkbox" value='{{i}}'name='fdsexpert'  class="option"><br>

    {% endif %}
    {%endfor%}

    </select>
    <input type='submit' name='submitx' value='Submit'>
  </form>
</div>

{% endblock content %}